.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.image {
	width: 200px;
	height: 200px;
	object-fit: contain;
	filter: brightness(0);
}

.silhouette {
	filter: brightness(0);
}

.revealed {
	filter: none;
	transition: filter 0.6s ease;
}

@media (max-width: 600px) {
	.image {
		width: 160px;
		height: 160px;
	}
}
